* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header .debug {
    height: 100px;
    width: 100vw;
}

main .debug {
    height: 2500px;
    width: 100vw;
}

/* /regole base */

.navbar1 {
    width: 50%;
    height: 80px;
    background-color: white;
    float: left;
}

.logo {
    padding: 4%;
    float: left;
}

.links {
    text-decoration: none;
    margin: 15px;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.links2 {
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
    margin: 15px;
    float: left;
}

.destra {
    margin-left: 110px;
}

.bottone {
    margin-top: 35px;
}

.inizia {
    background-color: blue;
    color: white;
    padding: 1%;
    font-size: 13px;
}

.titolo-lavoro {
    padding: 10rem;
    font-size: 70px;
}

.testo-sinistra {
    width: 300px;
    height: 300px;
    margin-left: 11%;
    margin-top: -6rem;
    float: left;
}

.foto-destra {
    width: 48%;
    height: 500px;
    float: left;
    margin-left: 9rem;
    margin-top: -6rem;
    /* background-color: red; */
}

.img1 {
    width: 100%;
    height: 100%;
}

.primo-paragrafo {
    margin-bottom: 35px;
    font-size: 17px;
}

.p2 {
    margin-top: 25px;
    margin-bottom: 2rem;
}

.freccia {
    font-size: 40px;
}

.bottone2 {
    background-color: blue;
    padding: 11px;
    color: white;
    font-size: 15px;
}

.navbar2 {
    width: 50%;
    height: 80px;
    background-color: white;
    float: left;
}

.sezione1 {
    width: 100%;
    height: 100px;
    position: fixed;
}

.contenitore-lavoro {
    width: 100%;
    height: 800px;
    background-color: lightblue;
}

/* /header */

.piano-dropbox {
    width: 60%;
    height: 200px;
    /* background-color: lightgreen; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10rem;
}

.checkbox-round {
    margin-top: 5rem;
}

.checkbox-round2 {
    margin-left: 20px;
}

.colonna1 {
    width: 18%;
    height: 1000px;
    /* background-color: orange; */
    margin-left: 20%;
    float: left;
    border: 1px solid;
}

.titoletto {
    text-align: center;
    margin-top: 10px;
}

.linea {
    margin-top: 10px;
}

.titoletto2 {
    margin: 30px;
}

.lista1 {
    list-style: none;
    margin: 30px;
    line-height: 30px;
    margin-top: -10px;
}

.mese {
    color: lightblue;
    font-size: 13px;
}

.lista2 {
    list-style: none;
    margin: 30px;
    line-height: 70px;
    margin-top: -10px;
}

.funzioni {
    line-height: 20px;
    margin-bottom: 4rem;
}

.tb {
    line-height: 20px;
    margin-bottom: 18px;
}

.bottone3 {
    background-color: blue;
    padding: 11px;
    color: white;
    font-size: 15px;
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 4rem;
}

.evidenziato {
    color: blue;
}

.scritta {
    margin-top: 30px;
    margin: 30px;
}

.hr {
    width: 60px;
    margin: 30px;
}

.titoletto3 {
    font-size: 18px;
    margin: 30px;
}

.spunta {
    color: blue;
}

.lista3 {
    list-style: none;
    margin: 30px;
    font-size: 15px;
    line-height: 40px;
}

.colonna2 {
    width: 18%;
    height: 1000px;
    /* background-color: green; */
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid;
}

.colonna3 {
    width: 18%;
    height: 1000px;
    /* background-color: rgb(221, 241, 41); */
    float: left;
    border: 1px solid;
}

.team {
    width: 60%;
    height: 200px;
    /* background-color: hotpink; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
    border: 1px solid;
    position: relative;
}

.enterprise {
    margin: 30px;
    line-height: 35px;
    float: left;
}

.bottone4 {
    width: 35%;
    background-color: blue;
    padding: 11px;
    color: white;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 70px;
    right: 30px;
}

.immagine-vetrata {
    width: 60%;
    height: 400px;
    /* background-color: indigo; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6rem;
}

.img-partner {
    width: 50%;
    height: 100%;
    float: left;
}

.parte-destra {
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 45px;
}

.titolo-destra {
    font-size: 25px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.paragrafo-destra {
    line-height: 30px;
    margin-bottom: 3rem;
}

.partner {
    border: 1px solid;
    padding: 10px;
}

.operazioni {
    width: 60%;
    height: 100px;
    /* background-color: lightseagreen; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5rem;
}

.rettangolo1 {
    width: 18%;
    height: 500px;
    /* background-color: red; */
    margin-left: 20%;
    float: left;
}

.img-business {
    width: 100%;
    height: 50%;
}

.titolo-business {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.paragrafo-business {
    line-height: 20px;
}

.sottolineato {
    text-decoration: underline;
}

.rettangolo2 {
    width: 18%;
    height: 500px;
    /* background-color: green; */
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}

.rettangolo3 {
    width: 18%;
    height: 500px;
    /* background-color: violet; */
    float: left;
}

.rettangolo4 {
    width: 18%;
    height: 500px;
    /* background-color: rgb(28, 26, 160); */
    margin-left: 20%;
    margin-top: 3rem;
    float: left;
}

.rettangolo5 {
    width: 18%;
    height: 500px;
    /*  background-color: rgb(26, 160, 77); */
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3rem;
    float: left;
}

.rettangolo6 {
    width: 18%;
    height: 500px;
    /*  background-color: rgb(173, 33, 87); */
    margin-top: 3rem;
    float: left;
}

.business {
    width: 40%;
    height: 200px;
    margin-left: 20%;
    margin-top: 6rem;
    /*     background-color: blue; */
}

.p-buss {
    margin-top: 3rem;
    text-decoration: underline;
    color: blue;
}

.titolo-buss {
    font-size: 40px;
}

.img-quadrati {
    width: 60%;
    height: 60%;
    margin: 46px;
    filter: invert(1);
}

.img-quadrato {
    width: 50%;
    height: 15%;
    margin: 56px;
    filter: invert(1);
    margin-top: 6rem;
}

.quadrato1 {
    width: 50%;
    height: 230px;
    background-color: lightgreen;
    float: left;
    border: 10px solid lightgrey;
}

.quadrato2 {
    width: 50%;
    height: 230px;
    background-color: rgb(128, 0, 0);
    float: left;
}

.quadrato3 {
    width: 50%;
    height: 230px;
    background-color: rgb(63, 178, 231);
    float: left;
}

.quadrato4 {
    width: 50%;
    height: 230px;
    background-color: rgb(255, 24, 24);
    float: left;
}

.rettangolo-design {
    height: 460px;
    width: 40%;
    background-color: lightgrey;
    float: left;
    margin-top: 3rem;
}

.img-rettangolo {
    width: 25%;
    margin: 40px;
}

.hr1 {
    width: 60px;
    margin: 40px;
    margin-top: -6px;
}

.p-rettangolo1 {
    font-size: 15px;
    margin: 40px;
}

.p-rettangolo2 {
    margin: 40px;
    font-size: 15px;
}

.quadrato5 {
    width: 50%;
    height: 230px;
    background-color: rgb(255, 12, 4);
    float: left;
}

.quadrato6 {
    width: 50%;
    height: 230px;
    background-color: rgb(159, 218, 226);
    float: left;
}

.quadrato7 {
    width: 50%;
    height: 230px;
    background-color: rgb(10, 2, 124);
    float: left;
}

.quadrato8 {
    width: 50%;
    height: 230px;
    background-color: rgb(238, 235, 51);
    float: left;
}

.settore1 {
    width: 30%;
    height: 460px;
    /* background-color: red; */
    float: left;
    margin-top: 3rem;
}

.settore2 {
    width: 30%;
    height: 460px;
    /* background-color: red; */
    float: left;
    margin-top: 3rem;
}

.azienda {
    width: 100vw;
    height: 400px;
    background-color: lightskyblue;
    float: left;
}

.titolo-rosso {
    color: darkred;
    font-size: 32px;
    width: 45%;
    margin: 18%;
    margin-left: 16rem;
}

.bottone5 {
    background-color: white;
    padding: 11px;
    font-size: 14px;
}

.contenitore-prova2 {
    width: 250px;
    height: 60px;
    float: left;
    margin-top: 11rem;
    margin-left: 116px;
}

.contenitore-prova1 {
    float: left;
}

.domande-frequenti {
    width: 60%;
    height: 1000px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5rem;
    /* background-color: grey; */
    float: left;
}

.orizzontale {
    width: 100%;
    margin-top: 3rem;
}

.titolo-domande {
    margin-top: 2rem;
}

.paragrafo-domande {
    margin-top: 1rem;
    width: 80%;
}

#corpo {
    visibility: hidden;
}

.freccia {
    margin-left: 8rem;
    font-size: 40px;
}

/* /main */

.footer {
    background-color: black;
    width: 100vw;
    height: 650px;
    float: left;
    margin-top: 5rem;
}

.div-footer1 {
    width: 200px;
    height: 320px;
    /* background-color: white; */
    margin-left: 8rem;
    margin-top: 6rem;
    float: left;
}

.div-footer2 {
    width: 200px;
    height: 320px;
    margin-left: 4rem;
    margin-top: 6rem;
    float: left;
}

.div-footer3 {
    width: 200px;
    height: 320px;
    /* background-color: rgb(24, 172, 56); */
    margin-left: 4rem;
    margin-top: 6rem;
    float: left;
}

.div-footer4 {
    width: 200px;
    height: 320px;
    /*     background-color: rgb(61, 21, 136); */
    margin-left: 4rem;
    margin-top: 6rem;
    float: left;
}

.div-footer5 {
    width: 200px;
    height: 320px;
    /* background-color: rgb(194, 124, 34); */
    margin-left: 4rem;
    margin-top: 6rem;
    float: left;
}

.hr2 {
    width: 106px;
    color: white;
    float: left;
    margin-top: -8rem;
    margin-left: 8rem;
}

.titolo-lista {
    color: white;
    margin-bottom: 1rem;
}

.liste {
    list-style: none;
    line-height: 35px;
    color: white;
}

.ita {
    float: left;
    color: lightgray;
    margin-left: 120px;
    margin-top: -6rem;
}

.mondo {
    filter: grayscale(1);
}

/* effetti */

a:hover {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}